
.fundo{
  background-color: #e0e0e0;
  padding-top: 15px;
  padding-bottom: 15px;
}

.rodape{
  background-color: black;
  height:40px;
  text-align: center;
  padding: 5px;
}

.rodape span{
  color: white;
}

.botao{
  display: flex;
  width: 100%;
}

.textoGrande{
  width: 100%;
  margin-right: 10px;

}

.cabecalho{
  margin-bottom: 10px;
}

.card {
  height: 230px;
}

.textoarea{
  height: 140px;
}

.espaco {
  padding: 5px;
}

.excluir{
  background-color: rgb(206, 15, 15);
}

.editar{
  background-color: #ffea00
}
